/* Banner style */
.banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
}

.banner-text { width: 100%; }
.banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
}
.banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #ddd;
   margin: 0 auto;
   width: 70%;
}
.banner-text h3 span,
.banner-text h3 a {
   color: #fff;
}
.banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* Social Buttons Style */

.social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
}
.social .btn:first-child{
    margin-right: 30px;
}
.social .btn{
    padding-left: 30px;
    padding-right: 30px; 
}
.social .btn i{
    margin-right: 15px;
}
.project-btn{
    background-color: #1abc9c !important;
}
.github-btn{
    background-color: #34495e !important;
}

@media only screen and (max-width: 542px){
    .banner-text h1 {
        margin-top: 100px;
        font: 50px/1.1em 'opensans-bold', sans-serif;
    }
    .social .btn{
        padding-left: 20px;
        padding-right: 20px; 
    }
}