@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css');

:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #aa3e39;
  --navColor3: #aa6e39;
  --navColor4: #236267;
  --navColor5: #2c8437;
}

html{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: Nunito,sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
}

.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}

.m-0{
  margin: 0px;
}

.f15{
  font-size: 15px;
}

.column{
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

section#home {
  background-image: url("./Images/home_bg.jpg");
  background-size: cover;
  background-position: center center;
}

section#about {
  background-color: var(--navColor2);
}

section#resume {
  background-color: var(--navColor3);
}

section#projects {
  background-color: var(--navColor4);
}

section#contact {
  background-color: var(--navColor5);
}

.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
font: 16px/30px 'opensans-bold', sans-serif;
background: #3d4145;
display: inline-block;
text-decoration: none;
letter-spacing: 0;
color: #fff;
padding: 12px 20px;
margin-bottom: 18px;
border: none;
cursor: pointer;
height: auto;

-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;

-moz-border-radius: 0px;
-webkit-border-radius: 0px;
-khtml-border-radius: 0px;
border-radius: 0px;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
background: #3d4145;
color: #fff;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
background: #3d4145;
color: #fff;
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
width: 100%;
padding-left: 0 !important;
padding-right: 0 !important;
text-align: center;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0;
}

@media only screen and (max-width: 542px){
  .button,
  .button:visited,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    font: 12px/30px Nunito, sans-serif;
    padding: 8px;
  }
}